.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    padding: 10px;
    background-color: black;
}

button {
    border-radius: 15px;
    font-size: x-large;
    background-color: darkgrey;
}

.operator {
    background-color: rgb(87, 87, 253);
}

#display {
    grid-row:    1 / 2;
    grid-column: 1 / 5;
    resize: none;
    background-color: lightgray;
    text-align: right;
    font-size: xx-large;
    height: 1.25em;
}

#clearButton {
    grid-row:    2 / 3;
    grid-column: 1 / 2;
    background-color: rgb(114, 41, 41);
}

#divideButton {
    grid-row:    2 / 3;
    grid-column: 2 / 3;
}

#timesButton {
    grid-row:    2 / 3;
    grid-column: 3 / 4;
}

#subtractButton {
    grid-row:    2 / 3;
    grid-column: 4 / 5;
}

#sevenButton {
    grid-row:    3 / 4;
    grid-column: 1 / 2;
}

#eightButton {
    grid-row:    3 / 4;
    grid-column: 2 / 3;
}

#nineButton {
    grid-row:    3 / 4;
    grid-column: 3 / 4;
}

#addButton {
    grid-row:    3 / 5;
    grid-column: 4 / 5;
}

#fourButton {
    grid-row:    4 / 5;
    grid-column: 1 / 2;
}

#fiveButton {
    grid-row:    4 / 5;
    grid-column: 2 / 3;
}

#sixButton {
    grid-row:    4 / 5;
    grid-column: 3 / 4;
}

#oneButton {
    grid-row:    5 / 6;
    grid-column: 1 / 2;
}

#twoButton {
    grid-row:    5 / 6;
    grid-column: 2 / 3;
}

#threeButton {
    grid-row:    5 / 6;
    grid-column: 3 / 4;
}

#equalsButton {
    grid-row:    5 / 7;
    grid-column: 4 / 5;
    background-color: green;
}

#negateButton {
    grid-row:    6 / 7;
    grid-column: 1 / 2;
}

#zeroButton {
    grid-row:    6 / 7;
    grid-column: 2 / 3;
}

#dotButton {
    grid-row:    6 / 7;
    grid-column: 3 / 4;
}